<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  
  <connectionStrings>
    <add name="DataEntities" connectionString="metadata=res://*/Model.DataModel.csdl|res://*/Model.DataModel.ssdl|res://*/Model.DataModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1;User Id=root;password=houseorganiser;Persist Security Info=True;database=bugtracker&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.serviceModel>
        <behaviors>
              <serviceBehaviors>
                    <behavior name="ServiceBehaviour">
                          <serviceMetadata httpGetEnabled="true" httpGetUrl="mex" />
                          <serviceCredentials>
                                <serviceCertificate findValue="BugTrackerService" storeName="TrustedPeople"
                                      x509FindType="FindBySubjectName" />
                                <userNameAuthentication userNamePasswordValidationMode="Custom"
                                      customUserNamePasswordValidatorType="BugTrackerService.Security.UserValidator, BugTrackerService" />
                          </serviceCredentials>
                          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="">
                                <authorizationPolicies>
                                      <add policyType="BugTrackerService.Security.AuthorizationPolicy, BugTrackerService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
                                </authorizationPolicies>
                          </serviceAuthorization>
                          <serviceDebug includeExceptionDetailInFaults="true" />
                    </behavior>

                <behavior name="RegistrationBehaviour">
                  <serviceMetadata httpGetEnabled="true" httpGetUrl="mex" />
                  <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
              </serviceBehaviors>
        </behaviors>
        <bindings>
              <wsHttpBinding>
                    <binding name="ServiceBinding">
                          <reliableSession inactivityTimeout="03:00:00" />
                          <security mode="Message">
                                <message clientCredentialType="UserName" />
                          </security>
                    </binding>
              </wsHttpBinding>
              <mexHttpBinding>
                    <binding name="MexBinding" />
              </mexHttpBinding>
        </bindings>
        <services>
              <service behaviorConfiguration="ServiceBehaviour" name="BugTrackerService.TrackerService">
                    <endpoint address="svc" binding="wsHttpBinding" bindingConfiguration="ServiceBinding"
                          name="Service" contract="BugTrackerService.ITrackerService" />
                    <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="MexBinding"
                          name="Mex" bindingName="mex" contract="IMetadataExchange" />
                    <host>
                          <baseAddresses>
                                <add baseAddress="http://localhost:8732/Design_Time_Addresses/BugTrackerService" />
                          </baseAddresses>
                    </host>
              </service>
              <service name="BugTrackerService.Registration" behaviorConfiguration="RegistrationBehaviour">
                    <endpoint address="reg" binding="wsHttpBinding" bindingConfiguration=""
                          contract="BugTrackerService.IRegistration" />
                    <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="MexBinding"
                          name="Mex" bindingName="mex" contract="IMetadataExchange" />
                   <host>
                   <baseAddresses>
                       <add baseAddress="http://localhost:8733/Design_Time_Addresses/BugTrackerRegistration" />
                    </baseAddresses>
                   </host>
              </service>
        </services>
    </system.serviceModel>
</configuration>